* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
  background-color: rgb(238, 231, 231);
}
header {
  background-color: #fff;
  height: auto;
  width: 100%;
}
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 975px;
  justify-content: space-between;
}
#header-logo {
  height: 50px;
}
#header-logo > img {
  margin: 12px 0 0 0;
}
#header-search-field {
  width: 220px;
  height: 50px;
  position: relative;
  left: 2%;
}
#header-search-field > div {
  height: 28px;
  background-color: rgb(238, 236, 236);
  position: relative;
  top: 10px;
  border-radius: 5px;
}
#header-search-field > div > i {
  position: relative;
  top: 5px;
  left: 75px;
  font-size: 12px;
}
#header-search-field > div > input {
  width: 25px;
  position: relative;
  top: 4px;
  left: 85px;
  border: none;
  background-color: rgb(238, 236, 236);
  font-size: 15px;
  outline: none;
}
#header-right {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#header-right > .menu {
  margin-right: 15px;
}
#header-right > .menu > span {
  margin-left: 22px;
  font-size: 24px;
}
#header-profile {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid;
  display: inline-block;
  margin-left: 15px;
  overflow-y: hidden;
  position: relative;
  right: 15px;
  bottom: 3px;
}
#header-profile > img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid;
}
section {
  width: auto;
  height: auto;
  margin-top: 12px;
}
.section-container {
  display: block;
}
.user-info {
  height: 180px;
  width: 85%;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
}
.user-img {
  width: 30%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-img > img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}
.user-fallow {
  width: 68%;
  height: inherit;
}
.user-fallow-top {
  display: grid;
  grid-template-columns: repeat(3, 28%);
}
.span-btn {
  width: 120px;
  height: 31px;
  margin-top: 5px;
}
.span-btn > button {
  width: inherit;
  height: inherit;
  border-radius: 5px;
  outline: none;
  border: none;
}
.settings-i {
  margin-left: -18px;
}
.nick-name,
span > .fa-cog {
  font-size: 28px;
  margin-top: 8px;
}
.fa-cog:hover,
button:hover {
  cursor: pointer;
}
.user-fallow-center {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  margin-top: 20px;
  font-size: 21px;
}
.user-fallow-bottom {
  margin-top: 15px;
  font-size: 18px;
}
.user-fallow-bottom > span {
  display: block;
}
.user-stories-field {
  width: 100%;
  display: flex;
  margin-top: 8px;
}
.user-stories {
  width: 150px;
  height: 120px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-stories > span > img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
/*
@media only screen and (max-width: 975px) {
   L 
}
@media only screen and (max-width: 991px) {
  N 
}
@media only screen and (max-width: 767px) {
   S 
}
@media only screen and (max-width: 574px) {
   XS 
}*/ ;
